.adaptive {
    padding-top: 30px;
    margin-bottom: -1px;

    background-color: $dark-blue-2;

    &__container {
        align-items: center;
    }

    &__image-wrap {
        flex: 1.5;

        text-align: right;
    }

    &__content {
        padding-left: 120px;
        margin-top: -20px;
	}

	&__text-wrap {
		padding-right: 100px;
	}

    &__text {
        font-weight: 300;
        font-size: 21px;
        line-height: 31px;
        color: $white;
    }

    &__text-yellow {
        font-weight: 500;
        color: $yellow;
    }
}

// mobile
@media (min-width: 320px) and (max-width: 767px) {
	.adaptive {
		padding-top: 55px;
		padding-bottom: 45px;

		&__content {
			padding: 0;
		}

		&__image-wrap {
			display: none;
		}

		&__text-wrap {
			margin-bottom: 30px;
			padding-right: 0;
		}

		&__text {
			margin-bottom: 0;

			text-align: center;
		}

		&__button-wrap {
			text-align: center;
		}
	}
}

// tablet
@media (min-width: 768px) and (max-width: 1279px) {
	.adaptive {
		&__content {
			padding: 0 40px;
		}

		&__text-wrap {
			padding-right: 0;
		}
	}
}
