.slider-photo {
    margin-bottom: 15px;

    &__item {
        position: relative;

        height: 415px;
    }

    &__item::before {
        position: absolute;
        content: "";

        bottom: 5px;
        left: 10px;

        width: 565px;
        height: 400px;

        border-radius: 5px;
        background-color: $yellow;
        z-index: 1;
    }

    &__image {
        position: relative;
        z-index: 2;

        width: 563px;
        height: 397px;

        border-radius: 5px;
	}

	&__footer {
        margin-left: 10px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__toggles {
	    position: relative;
	    z-index: 1;
	}

    &__button-prev {
        margin-right: 5px;

        width: 70px;
        height: 70px;

        background-color: $bg-btn-slider;
        background-image: url("../img/arrow-left.svg");
        background-repeat: no-repeat;
        background-size: 26px 19px;
        background-position: center;

        border: 1px solid #DADADA;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }

    &__button-next {
        width: 70px;
        height: 70px;

        background-color: $bg-btn-slider;
        background-image: url("../img/arrow-right.svg");
        background-repeat: no-repeat;
        background-size: 26px 19px;
        background-position: center;

        border: 1px solid #DADADA;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
	}

	&__counter {
    	font-size: 22px;
    	line-height: 34px;
    	letter-spacing: 0.05em;
    	color: #A1A1A1;
      }
      
    &__button-next.slick-disabled,
    &__button-prev.slick-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

// mobile
@media (min-width: 320px) and (max-width: 767px) {
    .slider-photo {
		margin-bottom: 5px;

        &__image {
            width: 97%;
            height: auto;
        }

        &__item {
            height: auto;
        }

        &__item::before {
			top: 5px;
            right: 0;

            width: 96%;
            height: 100%;
		}

		&__footer {
			flex-direction: row;

            margin-left: 0;
			margin-bottom: 20px;
		}

		&__button-prev,
		&__button-next {
			width: 51px;
			height: 51px;

			background-size: 21px 14px;
		}
    }
}

// tablet
@media (min-width: 768px) and (max-width: 1279px) {
    .slider-photo {
        margin: 0 ;

        &__image {
            // width: 90%;
			// height: auto;
			width: 695px;
			height: 450px;

			@media (min-width: 992px) and (max-width: 1279px) {
				width: 740px;
				height: 450px;
			}
        }

        &__item {
            width: 750px;
            height: 500px;
        }

        &__item::before {
            left: 15px;
            top: 7px;

			width: 695px;
			height: 460px;

			@media (min-width: 992px) and (max-width: 1279px) {
				width: 740px;
				height: 460px;
			}
		}

		&__footer {
            flex-direction: row;

            margin-bottom: 30px;
            margin-left: 0;
		}

		/* &__counter {
			padding-right: 30px;
        } */
    }
}
